.type {

  &:before, &:after {
    padding: 0 4px;
    padding-bottom: 1px;
    font-weight: bold;
    font-style: normal;
    font-size: small;
    color: #FFF;
  }

  &--text-top {
    vertical-align: text-top;
  }

  &__module {

    &--text:after {
      content: "Module";
      background-color: $type-module;
    }

    &--text-initial:after {
      content: "M";
      background-color: $type-module;
    }
    
  }

  &__class {
  
    &--text:after {
      content: "class";
      background-color: $type-class;
    }

    &--text-initial:after {
      content: "C";
      background-color: $type-class;
    }
    
  }

  &__method {
    
    &--text:after {
      content: "function";
      background-color: $type-function;
    }

    &--text-initial:after {
      content: "F";
      background-color: $type-function;
    }

  }

  &__property {

    &--text:after {
      content: "property";
      background-color: $type-property
    }

    &--text-initial:after {
      content: "P";
      background-color: $type-property;
    }

  }

  &--static {

    &-text:before {
      background-color: $type-static;
      content: "static";
    }

    &-colour:after {
      background-color: $type-static;
    }

  }

}
