/* Common
   ========================================================================== */
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-dark: rgb(17, 136, 90);

/* Tree
   ========================================================================== */
$tree-default-color: #333;
$tree-default-bg: #fff;
$tree-default-border: #ccc;

$tree-primary-color: #fff;
$tree-primary-bg: $brand-primary;
$tree-primary-border: darken($brand-primary, 5%);

$tree-success-color: #fff;
$tree-success-bg: $brand-success;
$tree-success-border: darken($tree-success-bg, 5%);

$tree-info-color: #fff;
$tree-info-bg: $brand-info;
$tree-info-border: darken($tree-info-bg, 5%);

$tree-warning-color: #fff;
$tree-warning-bg: $brand-warning;
$tree-warning-border: darken($tree-warning-bg, 5%);

$tree-danger-color: #fff;
$tree-danger-bg: $brand-danger;
$tree-danger-border: darken($tree-danger-bg, 5%);


/* Type colours
   ========================================================================== */
$type-module: rgb(249, 123, 0);
$type-class: rgb(80, 20, 100);
$type-function: rgb(43, 97, 180);
$type-property: rgb(120, 200, 0);
$type-static: rgb(95,95,95);
